*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    flex-direction: column-reverse;
    gap: 10px;
    background-color: #DEDED1;

}
.container{
    display: grid;
    width: fit-content;
    height: fit-content;
    background-color: rgb(255, 255, 255);
     /* display: flex; */
    /* flex-direction: row;
    flex-wrap: wrap; */
    
    /* grid-template-columns: repeat(25, minmax(auto, 25px)); */
    /* box-shadow: 8px 8px 17px 6px rgba(0,0,0,0.66);
    -webkit-box-shadow: 8px 8px 17px 6px rgba(0,0,0,0.66);
    -moz-box-shadow: 8px 8px 17px 6px rgba(0,0,0,0.66); */
    
    
}
.container div{
    background-color: rgb(255, 255, 255);
    flex: 10 16 1%;
    
    

}
.buttons{
    position: fixed;    
    top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    left: 10px;
    gap: .5rem;

}

#btn-change {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: .2rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;

}

#btn-change:hover {
    background-color: #33c8fa;
}

.error {
    color: rgb(153, 17, 17);
    position: absolute;
    top: 100%;
}

.blank {
    border-style: 'none';
}

.square {
    border-style: solid;
    border-width: 1px;
}

.round {
    border-style: none;
    border-radius: 50%;
}